
@import "parciales/index.scss";
@import "parciales/servicios.scss";
@import "parciales/promociones.scss";
@import "parciales/clientas.scss";
@import "parciales/contacto.scss";
@import "parciales/media-querys.scss";




//variables
$background: #ff0000 ;
$relleno: 20px;
$colorPrincipal: #a78497;

header{
    background-color: $background;
    nav{
        padding: $relleno;
        ul {
            list-style-type: none;
            li{
                color: $background;
                a{
                    font-weight: 500;
                }
            }
        }
    }
}

$estilos: (
    rosado: #a78497, 
    fondo: #000000,
    blanco: #ff0000,

);


@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@200;300;400&display=swap');





